/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

video {
  max-width: 100%;
  height: auto;
  margin-bottom: 2em;
}

section {
  width: 100%;
}

.container {
  max-width: 1080px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Mulish', sans-serif;
}

.hidden {
  display: none;
}

.btn {
  background-color: #f15c22;
  width: 60%;
  padding: .5em;
  border-radius: 2px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
}

.header {
  color: #fff;
  width: 100%;
  background-color: #82cec9;
}

.header img {
  width: 100%;
}

.header h2 {
  padding: .5em;
  font-size: 2.75em;
}

.header p {
  font-size: .9em;
  padding: .5em;
}

@media screen and (min-width: 410px) {
  .header p {
    font-size: 1em;
    padding-bottom: 1em;
  }
}

@media screen and (min-width: 480px) {
  .header p {
    font-size: 1.5em;
    padding-bottom: 1em;
  }
  h2 {
    font-size: 3em;
    font-weight: bold;
  }
}

@media screen and (min-width: 720px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header h2 {
    font-size: 1.5em;
    font-weight: bold;
  }
  .header p {
    font-size: .7em;
    -webkit-transform: translate(1em, 1.5em);
            transform: translate(1em, 1.5em);
  }
  .header .headerBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 300px;
  }
  .header .headerBtn a {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 50%;
    font-size: 1.5em;
    border-radius: 2px;
    padding: .5em;
    text-align: center;
  }
}

.content {
  max-width: 720px;
  width: 100%;
  padding: 2.5em .5em .5em .5em;
}

.content .contentProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content .contentProduct .product {
  width: 100%;
  padding: .5em;
}

.content .contentProduct .product img {
  width: 60%;
  -webkit-transform: translate(-2em, -6.25em);
          transform: translate(-2em, -6.25em);
}

.content .contentProduct .productInfo {
  -webkit-transform: translate(-2em, -2em);
          transform: translate(-2em, -2em);
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: .5em;
}

.content .contentProduct .productInfo h3 {
  font-size: 1.5em;
  padding: .5em;
  color: #f15c22;
  line-height: 1.2;
}

.content .contentProduct .productInfo p {
  font-size: 1.2em;
  padding: .5em;
  color: #7e8082;
  line-height: 1.2;
  margin-bottom: 2em;
}

.content .contentProduct .productInfo .productBtn {
  -webkit-transform: translate(0.5em, -1em);
          transform: translate(0.5em, -1em);
  width: 40%;
  font-size: 1em;
  margin-top: 2em;
}

.content .icons {
  -webkit-transform: translate(0, -2em);
          transform: translate(0, -2em);
  max-width: 580px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1em;
}

.content .icons .iconInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 1em 0 1em;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .icons .iconInfo h4 {
  color: #3c3c3c;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.content .icons .iconInfo img {
  width: 50%;
}

.content .icons .iconInfo .natural {
  margin-top: 1em;
}

.content .icons .iconInfo .naturalText {
  margin-bottom: 1em;
}

.content .moreInfo {
  width: 100%;
}

.content .moreInfo h3 {
  font-size: 2.5em;
  color: #f15c22;
  text-align: left;
  padding: .5em;
}

.content .moreInfo p {
  font-size: 1.5em;
  color: #7e8082;
  text-align: left;
  line-height: 1;
  padding: .5em;
}

@media screen and (min-width: 360px) {
  .content .contentProduct .product img {
    -webkit-transform: translate(-2em, -7em);
            transform: translate(-2em, -7em);
  }
  .content .contentProduct .productInfo h3 {
    font-size: 1.75em;
  }
  .content .contentProduct .productInfo p {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 410px) {
  .content .contentProduct .product img {
    -webkit-transform: translate(-2em, -7.5em);
            transform: translate(-2em, -7.5em);
  }
  .content .contentProduct .productInfo .productBtn {
    font-size: 1.25em;
    width: 50%;
  }
}

@media screen and (min-width: 420px) {
  .content .icons .iconInfo {
    margin: 0 2em 0 2em;
  }
  .content .icons .iconInfo img {
    width: 80%;
  }
}

@media screen and (min-width: 440px) {
  .content .contentProduct .productInfo {
    margin-right: .2em;
  }
  .content .contentProduct .productInfo h3 {
    font-size: 2.5em;
    text-align: left;
  }
  .content .contentProduct .productInfo p {
    font-size: 1.5em;
    line-height: 1;
    text-align: left;
  }
  .content .contentProduct .productInfo .productBtn {
    -webkit-transform: translate(2em, -1em);
            transform: translate(2em, -1em);
  }
}

@media screen and (min-width: 480px) {
  .content .contentProduct .product img {
    -webkit-transform: translate(-2em, -8.5em);
            transform: translate(-2em, -8.5em);
  }
  .content .contentProduct .productInfo h3 {
    font-size: 2.5em;
    text-align: left;
  }
  .content .contentProduct .productInfo p {
    font-size: 2em;
    line-height: 1;
    text-align: left;
  }
}

@media screen and (min-width: 520px) {
  .content .icons .iconInfo {
    margin: 0 3em 0 3em;
  }
  .content .icons .iconInfo img {
    width: 80%;
  }
}

@media screen and (min-width: 580px) {
  .content .contentProduct .product {
    width: 80%;
    max-width: 540px;
  }
  .content .contentProduct .product img {
    -webkit-transform: translate(-2em, -8.5em);
            transform: translate(-2em, -8.5em);
  }
  .content .contentProduct .productInfo h3 {
    font-size: 3em;
  }
  .content .contentProduct .productInfo p {
    font-size: 2.25em;
  }
  .content .icons .iconInfo {
    margin: 0 3.5em 0 3.5em;
  }
  .content .icons .iconInfo img {
    width: 80%;
  }
  .content .moreInfo {
    max-width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 640px) {
  .content {
    height: auto;
  }
  .content .contentProduct {
    -webkit-transform: translate(0, -3em);
            transform: translate(0, -3em);
  }
  .content .contentProduct .product {
    width: 100%;
  }
  .content .contentProduct .product img {
    -webkit-transform: translate(0, -12em);
            transform: translate(0, -12em);
  }
  .content .contentProduct .productInfo {
    display: none;
  }
  .content .contentProduct .contentInfo {
    -webkit-transform: translate(1em, -3em);
            transform: translate(1em, -3em);
    max-width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content .contentProduct .contentInfo .contentText {
    -webkit-transform: translate(0, -7em);
            transform: translate(0, -7em);
  }
  .content .contentProduct .contentInfo h3 {
    font-size: 1.75em;
    color: #f15c22;
    text-align: left;
  }
  .content .contentProduct .contentInfo p {
    font-size: 1.25em;
    color: #7e8082;
    text-align: left;
    margin-right: 1em;
  }
  .content .icons {
    width: 70%;
    -webkit-transform: translate(10em, -43.5em);
            transform: translate(10em, -43.5em);
  }
  .content .icons .iconInfo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 .5em 0 .5em;
  }
  .content .icons .iconInfo img {
    width: 40%;
  }
  .content .icons .iconInfo h4 {
    font-size: .7em;
  }
  .content .icons .iconInfo .natural {
    margin: 0;
  }
  .content .moreInfo {
    display: none;
  }
}

@media screen and (min-width: 680px) {
  .content .contentProduct .product img {
    -webkit-transform: translate(0, -15em);
            transform: translate(0, -15em);
  }
  .content .contentProduct .contentInfo h3 {
    font-size: 2em;
    margin-bottom: .5em;
  }
  .content .contentProduct .contentInfo p {
    font-size: 1.5em;
  }
  .content .icons {
    -webkit-transform: translate(11em, -48.5em);
            transform: translate(11em, -48.5em);
  }
}

@media screen and (min-width: 720px) {
  .content .contentProduct .product img {
    width: 60%;
    -webkit-transform: translate(-2em, -21em);
            transform: translate(-2em, -21em);
  }
  .content .contentProduct .contentInfo {
    -webkit-transform: translate(0, -2.5em);
            transform: translate(0, -2.5em);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .content .contentProduct .contentInfo h3 {
    font-size: 2.15em;
  }
  .content .contentProduct .contentInfo p {
    font-size: 1.65em;
    padding: 0.5em;
  }
  .content .contentProduct .contentInfo .contextTextOne {
    -webkit-transform: translate(0, -6em);
            transform: translate(0, -6em);
  }
  .content .contentProduct .contentInfo .contentText {
    -webkit-transform: translate(0, -12em);
            transform: translate(0, -12em);
  }
  .content .icons {
    padding-top: .5em;
    -webkit-transform: translate(12em, -61em);
            transform: translate(12em, -61em);
  }
  .content .icons .nano {
    -webkit-transform: translate(0, 0.3em);
            transform: translate(0, 0.3em);
  }
  .content .icons .bio {
    -webkit-transform: translate(0, 0.3em);
            transform: translate(0, 0.3em);
  }
}

.hero .heroImage {
  background-color: #d9f3f3;
  width: 100%;
}

.hero .heroImage img {
  width: 100%;
}

@media screen and (min-width: 640px) {
  .hero .heroImage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .hero .heroImage img {
    width: 60%;
  }
  .hero .heroInfo {
    max-width: 200px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-transform: translate(5em, -15em);
            transform: translate(5em, -15em);
    text-align: left;
  }
  .hero .heroInfo h3 {
    font-size: 1.5em;
    padding: .5em;
    color: #f15c22;
    line-height: 1;
  }
  .hero .heroInfo p {
    font-size: 1em;
    color: #7e8082;
    line-height: 1;
  }
}

@media screen and (min-width: 680px) {
  .hero .heroInfo {
    -webkit-transform: translate(7.5em, -15em);
            transform: translate(7.5em, -15em);
  }
}

@media screen and (min-width: 720px) {
  .hero .heroInfo {
    -webkit-transform: translate(10em, -16em);
            transform: translate(10em, -16em);
  }
  .hero .heroInfo h3 {
    font-size: 1.5em;
    line-height: 1;
    text-align: left;
  }
  .hero .heroInfo p {
    font-size: 1em;
    padding: 0;
    text-align: left;
  }
}

.videoArea {
  padding-top: 2em;
  padding-bottom: 1em;
  width: 100%;
  background-color: #ecf6fe;
}

.videoArea h2 {
  font-size: 1.5em;
  color: #f15c22;
  text-align: center;
  padding: .5em;
  line-height: 1;
  margin-bottom: 1em;
}

@media screen and (min-width: 640px) {
  .videoArea {
    -webkit-transform: translate(0, -12em);
            transform: translate(0, -12em);
  }
  .videoArea h2 {
    font-size: 1.75em;
  }
}

@media screen and (min-width: 720px) {
  .videoArea {
    -webkit-transform: translate(0, -18em);
            transform: translate(0, -18em);
    margin-bottom: 2em;
  }
  .videoArea h2 {
    font-size: 2em;
    padding: .5em;
    margin-top: 2em;
  }
}

.skinCare {
  width: 100%;
}

.skinCare img {
  width: 100%;
  -webkit-box-shadow: 0.05em 0.05em 0.05em rgba(71, 71, 71, 0.25), 0.05em 0.05em 0.25em rgba(71, 71, 71, 0.15);
          box-shadow: 0.05em 0.05em 0.05em rgba(71, 71, 71, 0.25), 0.05em 0.05em 0.25em rgba(71, 71, 71, 0.15);
}

.skinCare h2 {
  font-size: 1.5em;
  color: #f15c22;
  padding: .5em;
  text-align: center;
  margin-top: 1em;
}

.skinCare .skinCon {
  width: 100%;
}

.skinCare .skinCon .phases {
  max-width: 540px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em 0 2em 0;
}

.skinCare .skinCon .phases h3 {
  font-size: 1.5em;
  color: #f15c22;
  padding: .5em;
  margin: 1em 0 0 0;
  text-align: left;
}

.skinCare .skinCon .phases p {
  font-size: 1.5em;
  color: #7e8082;
  padding: .5em;
  margin: 1em 1em;
  text-align: left;
}

.skinCare .skinCon .phases .phaseLink {
  margin: 1em 0 .5em .5em;
  width: 40% !important;
}

.skinCareInfo {
  width: 100%;
  padding: .5em;
  margin: 2em 0 0 0;
}

.skinCareInfo h2 {
  font-size: 2.5em;
  color: #f15c22;
  text-align: left;
  padding: .5em;
}

.skinCareInfo h3 {
  font-size: 1.5em;
  color: #f15c22;
  text-align: left;
  padding: .5em;
  margin: .25em 0 .25em 0;
}

.skinCareInfo ul {
  font-size: 1.5em;
  color: #7e8082;
  line-height: 1;
  list-style-type: disc;
  text-align: left;
  padding: .5em;
  margin-left: .3em;
}

.skinCareInfo .listCon {
  padding: .5em;
}

@media screen and (min-width: 410px) {
  .skinCareInfo ul {
    margin-left: .5em;
  }
  .skinCareInfo li {
    padding-left: .5em;
  }
  .skinCare {
    margin-top: 2em;
  }
  .skinCare .skinCon .phases {
    margin: 3em 0;
  }
  .skinCare .skinCon .phases h3 {
    font-size: 2em;
  }
}

@media screen and (min-width: 440px) {
  .skinCare h2 {
    font-size: 2em;
  }
}

@media screen and (min-width: 580px) {
  .skinCare .skinCon .phases h3 {
    font-size: 2.5em;
  }
  .skinCare .skinCon .phases p {
    line-height: 1.2;
    font-size: 2em;
  }
}

@media screen and (min-width: 640px) {
  .skinCare h2 {
    font-size: 3em;
    -webkit-transform: translate(0, -2.5em);
            transform: translate(0, -2.5em);
    margin: 0;
    padding: 0;
  }
  .skinCare .skinCon {
    -webkit-transform: translate(0, -2em);
            transform: translate(0, -2em);
  }
  .skinCareInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .skinCareInfo .listCon {
    margin-left: 1em;
    -webkit-transform: translate(0, -1em);
            transform: translate(0, -1em);
  }
}

@media screen and (min-width: 720px) {
  .skinCare {
    -webkit-transform: translate(0, -4em);
            transform: translate(0, -4em);
  }
  .skinCare h2 {
    -webkit-transform: translate(0, -4em);
            transform: translate(0, -4em);
  }
  .skinCare .skinCon {
    -webkit-transform: translate(0, -6em);
            transform: translate(0, -6em);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .skinCare .skinCon .phases {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 1em;
    max-width: 320px;
  }
  .skinCare .skinCon .phases h3 {
    font-size: 1em;
    margin: 1em 1em;
    padding: .5em;
  }
  .skinCare .skinCon .phases p {
    font-size: .8em;
    margin: .5em .5em;
    padding: .5em;
  }
  .skinCare .skinCon .phases .phaseLink {
    width: 30%;
    padding: .5em;
    margin: 1em 1em;
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-size: 1em;
  }
  .skinCare .skinCon .solid {
    border-left: 1px dotted #a7a2a2;
  }
  .skinCareInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transform: translate(0, -4em);
            transform: translate(0, -4em);
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .skinCareInfo .listCon {
    width: 100%;
    margin: 0;
    padding: 1em;
  }
  .skinCareInfo .listCon h2 {
    font-size: 1.5em;
  }
  .skinCareInfo .listCon ul {
    font-size: 1em;
  }
}

.bottleInfo {
  width: 100%;
  background-color: #e6f5f4;
  padding: 0 0 1em 0;
}

.bottleInfo .bottleText {
  padding: .5em;
}

.bottleInfo .bottle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #fff;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.bottleInfo .bottle img {
  max-width: 360px;
  width: 80%;
  -webkit-transform: translate(0, 2.5em);
          transform: translate(0, 2.5em);
}

.bottleInfo h3 {
  padding: .5em;
  font-size: 1.4em;
  text-align: left;
  color: #f15c22;
}

.bottleInfo p {
  padding: .5em;
  font-size: 1.5em;
  color: #7e8082;
  text-align: left;
}

.bottleInfo .bottleDetails {
  margin-top: 2em;
  width: 100%;
}

.bottleInfo .bottleDetails h2 {
  padding: .5em;
  font-size: 1.5em;
  font-weight: bold;
  color: #f15c22;
  text-align: center;
  margin: .5em 0 0 0;
}

.bottleInfo .bottleDetails img {
  max-width: 80px;
  margin-top: 2em;
}

@media screen and (min-width: 380px) {
  .bottleInfo .bottleDetails h2 {
    font-size: 2em;
  }
  .bottleInfo .bottleText h3 {
    font-size: 1.8em;
  }
}

@media screen and (min-width: 620px) {
  .bottleInfo .bottle img {
    width: 60%;
  }
}

@media screen and (min-width: 720px) {
  .bottleInfo .bottleDetails {
    width: 100%;
  }
  .bottleInfo .bottleDetails img {
    margin-top: 1em;
    max-width: 60px;
  }
  .bottleInfo .bottleDetails h2 {
    font-size: 1.5em;
  }
  .bottleInfo .bottleText {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .bottleInfo .bottleText .bottleTextCon {
    padding-right: .5em;
    margin-left: 1em;
    margin-right: 1em;
    width: 80%;
  }
  .bottleInfo .bottleText .bottleTextCon h3 {
    font-size: 1em;
  }
  .bottleInfo .bottleText .bottleTextCon p {
    font-size: .8em;
  }
}

.visibleResults {
  background-color: #fef9f7;
  width: 100%;
  padding: .5em;
}

.visibleResults img {
  -webkit-box-shadow: 0.05em 0.05em 0.05em rgba(71, 71, 71, 0.25), 0.05em 0.05em 0.25em rgba(71, 71, 71, 0.15);
          box-shadow: 0.05em 0.05em 0.05em rgba(71, 71, 71, 0.25), 0.05em 0.05em 0.25em rgba(71, 71, 71, 0.15);
}

.visibleResults .text {
  padding: .5em;
  margin: 0 0 2em 0;
}

.visibleResults .text h2 {
  padding: .5em;
  font-size: 2.5em;
  color: #f15c22;
  line-height: 1;
  text-align: left;
  margin: .5em 0 .5em 0;
}

.visibleResults .text article {
  padding: .5em;
  font-size: 1.5em;
  color: #7e8082;
  line-height: 1.2;
  text-align: left;
}

.visibleResults .pictures {
  max-width: 400px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visibleResults .pictures .before {
  width: 100%;
}

.visibleResults .pictures .before img {
  width: 95%;
  margin-right: 1em;
}

.visibleResults .pictures .after {
  width: 100%;
}

.visibleResults .pictures .after img {
  width: 95%;
  margin-right: 1em;
}

.visibleResults .pictures h3 {
  font-size: 1.5em;
  padding: .5em;
  text-align: center;
  color: #f15c22;
}

@media screen and (min-width: 720px) {
  .visibleResults {
    padding-top: 2em;
    padding-bottom: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .visibleResults .text {
    max-width: 300px;
  }
  .visibleResults .text h2 {
    font-size: 1em;
  }
  .visibleResults .text article {
    font-size: .8em;
  }
  .visibleResults .pictures {
    max-width: 300px;
  }
}

.testimonial {
  width: 100%;
  padding: .5em;
  margin: 2em 0 0 0;
}

.testimonial h2 {
  font-size: 2em;
  color: #f15c22;
  padding: .5em;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 1em;
}

.testimonial .comment {
  padding: .5em;
  margin: 1em 0 1em 0;
}

.testimonial .comment p {
  font-size: 1.5em;
  color: #7e8082;
  line-height: 1.2;
  padding: .5em;
  text-align: left;
  font-style: italic;
}

.testimonial .testWrapper .testCon {
  margin-right: 1em;
  margin: 2em 0 0 0;
  width: 100%;
  padding: .5em;
}

.testimonial .testWrapper .testCon .testPic {
  margin-right: .5em;
  padding: .5em;
}

.testimonial .testWrapper .testCon .testPic img {
  max-width: 40%;
  -webkit-transform: translate(-6em, 0);
          transform: translate(-6em, 0);
}

.testimonial .testWrapper .testCon .testInfo {
  padding: .5em;
  -webkit-transform: translate(4em, -8em);
          transform: translate(4em, -8em);
  margin: 1em 1em 0 0;
  padding: .5em;
}

.testimonial .testWrapper .testCon .testInfo h2 {
  font-size: 1em;
  color: #f15c22;
  margin-bottom: .5em;
}

.testimonial .testWrapper .testCon .testInfo p {
  padding: .5em;
  font-size: .8em;
  color: #7e8082;
}

@media screen and (min-width: 360px) {
  .testimonial .testWrapper .testCon .testInfo {
    -webkit-transform: translate(5em, -10em);
            transform: translate(5em, -10em);
  }
  .testimonial .testWrapper .testCon .testInfo h2 {
    font-size: 1em;
  }
  .testimonial .testWrapper .testCon .testInfo p {
    font-size: .8em;
  }
}

@media screen and (min-width: 420px) {
  .testimonial .testWrapper .testCon .testPic {
    margin-right: 4em;
  }
}

@media screen and (min-width: 640px) {
  .testimonial .testWrapper .testCon .testPic {
    max-width: 60%;
  }
  .testimonial .testWrapper .testCon .testInfo {
    -webkit-transform: translate(5em, -9em);
            transform: translate(5em, -9em);
  }
  .testimonial .testWrapper .testCon .testInfo h2 {
    font-size: 1.2em;
  }
  .testimonial .testWrapper .testCon .testInfo p {
    font-size: 1em;
  }
}

@media screen and (min-width: 720px) {
  .testimonial h2 {
    font-size: 1.5em;
  }
  .testimonial .comment {
    -webkit-transform: translate(0, 4em);
            transform: translate(0, 4em);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .testimonial .comment p {
    -webkit-transform: translate(0, 5em);
            transform: translate(0, 5em);
    width: 80%;
    font-size: 1em;
    padding: .5em;
    margin-right: 1em;
    margin-left: 1em;
  }
  .testimonial .comment .testProduct {
    display: inline-block;
    width: 100%;
  }
  .testimonial .comment .testProduct img {
    padding: .5em;
    margin-right: 1em;
  }
  .testimonial .comment .commentText {
    display: inline-block;
  }
  .testimonial .testWrapper {
    -webkit-transform: translate(2em, 0);
            transform: translate(2em, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .testimonial .testWrapper .testConTwo {
    -webkit-transform: translate(2.5em, 0);
            transform: translate(2.5em, 0);
    display: inline-block;
  }
  .testimonial .testWrapper .testConOne {
    -webkit-transform: translate(-1em, 0);
            transform: translate(-1em, 0);
  }
  .testimonial .testWrapper .testCon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .testimonial .testWrapper .testCon .testPic {
    margin-left: 1em;
  }
  .testimonial .testWrapper .testCon .testPic img {
    max-width: 40%;
  }
  .testimonial .testWrapper .testCon .testInfo {
    margin-right: auto;
    padding: .5em;
    margin-top: 2em;
  }
  .testimonial .testWrapper .testCon .testInfo h2 {
    font-size: 1em;
    color: #f15c22;
    margin-bottom: .5em;
  }
  .testimonial .testWrapper .testCon .testInfo p {
    padding: .5em;
    font-size: .8em;
    color: #7e8082;
  }
}

.sponsors {
  width: 100%;
  padding: .5em;
}

.sponsors h2 {
  padding: .5em;
  font-size: 1.5em;
  color: #f15c22;
  text-align: center;
}

.sponsors .sponsorCon {
  width: 100%;
  margin: 2em 0 2em 0;
}

.sponsors .sponsorCon .sponsorLogo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sponsors .sponsorCon .sponsorLogo img {
  width: 40%;
  margin: 2em 0 2em 0;
}

.shipping {
  width: 100%;
  background-color: #e3e3e3;
}

.shipping h2 {
  font-size: 2.5em;
  color: #f15c22;
  padding: .5em;
  text-align: left;
}

.shipping h3 {
  color: #f15c22;
  padding: .5em;
  font-size: 1.5em;
  text-align: left;
  margin-bottom: .5em;
}

.shipping p {
  color: #7e8082;
  font-size: 1.5em;
  padding: .5em;
  text-align: left;
}

.shipping .shippingText .shippingInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.shipping .shippingText h2 {
  font-size: 1em;
  -webkit-transform: translate(0, -4em);
          transform: translate(0, -4em);
}

.shipping .shippingText .textCon {
  -webkit-transform: translate(0, 0.1em);
          transform: translate(0, 0.1em);
}

@media screen and (min-width: 320px) {
  .shipping .shippingText h2 {
    font-size: 1em;
    -webkit-transform: translate(0, -4em);
            transform: translate(0, -4em);
  }
}

@media screen and (min-width: 340px) {
  .shipping .shippingText h2 {
    font-size: 1.2em;
    -webkit-transform: translate(0, -4em);
            transform: translate(0, -4em);
  }
}

@media screen and (min-width: 380px) {
  .shipping .shippingText h2 {
    font-size: 1.4em;
    -webkit-transform: translate(0, -4em);
            transform: translate(0, -4em);
  }
  .shipping .shippingText .textCon {
    -webkit-transform: translate(0, -1.2em);
            transform: translate(0, -1.2em);
  }
}

@media screen and (min-width: 410px) {
  .shipping .shippingText h2 {
    font-size: 1.5em;
  }
  .shipping .shippingText .textCon {
    margin-left: 1em;
  }
}

@media screen and (min-width: 480px) {
  .shipping .shippingText h2 {
    font-size: 1.8em;
    -webkit-transform: translate(0, -3em);
            transform: translate(0, -3em);
  }
}

@media screen and (min-width: 640px) {
  .shipping .shippingText h2 {
    font-size: 2em;
    margin-left: .5em;
  }
}

.contact {
  background-color: #e6f5f4;
  width: 100%;
  padding: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contact .contactInfo {
  width: 100%;
  max-width: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1em 0 1em 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.contact .contactInfo h2 {
  font-size: 2.5em;
  padding: .5em;
  color: #f15c22;
  text-align: left;
}

.contact .contactInfo h4 {
  font-size: 1.5em;
  color: #7e8082;
  padding: .5em;
  text-align: left;
  margin-bottom: 1em;
}

.contact .contactInfo .contactBtn {
  width: 40%;
  margin-bottom: 1em;
}

@media screen and (min-width: 420px) {
  .contact .contactInfo {
    margin-left: .5em;
  }
}

@media screen and (min-width: 580px) {
  .contact .contactInfo h2 {
    text-align: left;
  }
  .contact .contactInfo h4 {
    text-align: left;
  }
}

.sample {
  width: 100%;
  padding: .5em .5em 0 .5em;
  background-color: #82cec9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sample .sampleInfo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sample .sampleInfo .sampleBtn {
  font-size: .8em;
  width: 40%;
  padding: 1em;
  margin: 1em 1em;
  -webkit-transform: translate(0, 11em);
          transform: translate(0, 11em);
}

.sample h2 {
  font-size: 1.5em;
  text-align: center;
  color: #fff;
  margin-bottom: 2em 0 2em 0;
  padding: .5em;
  -webkit-transform: translate(0, 20px);
          transform: translate(0, 20px);
}

.sample .sampleImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border-bottom: 1.5px dotted white;
  margin: 0 2em 0 0;
}

@media screen and (min-width: 410px) {
  .sample .sampleInfo .sampleBtn {
    -webkit-transform: translate(2em, 14em);
            transform: translate(2em, 14em);
    font-size: .8em;
  }
  .sample .sampleImg {
    padding-bottom: .1em;
    border-bottom: 1px dotted white;
  }
  .sample .sampleImg img {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@media screen and (min-width: 580px) {
  .sample .sampleInfo {
    -webkit-transform: translate(1em, -2em);
            transform: translate(1em, -2em);
  }
  .sample .sampleInfo h2 {
    font-size: 1.8em;
    -webkit-transform: translate(-3em, 6em);
            transform: translate(-3em, 6em);
  }
  .sample .sampleInfo .sampleBtn {
    -webkit-transform: translate(8em, 14em);
            transform: translate(8em, 14em);
    width: 30%;
  }
  .sample .sampleImg {
    -webkit-transform: translate(0, -2em);
            transform: translate(0, -2em);
  }
  .sample .sampleImg img {
    -webkit-transform: translate(-2em, 0);
            transform: translate(-2em, 0);
  }
}

@media screen and (min-width: 640px) {
  .sample .sampleImg img {
    -webkit-transform: translate(-3em, 0);
            transform: translate(-3em, 0);
  }
}

.mainFooter {
  width: 100%;
  background-color: #82cec9;
  padding: .5em;
}

.mainFooter p {
  font-size: 1em;
  text-align: center;
  padding: .5em;
  color: #fff;
}

.mainFooter p {
  font-size: 1.5em;
  padding: 1em;
}
/*# sourceMappingURL=style.css.map */