.bottleInfo {
    width: 100%;
    background-color: #e6f5f4;
    padding: 0 0 1em 0;

    .bottleText {
        padding: .5em;
    }

    .bottle {
        display: flex;
        width: 100%;
        background-color: #fff;
        justify-content: flex-end;

        img {max-width: 360px;
            width: 80%;
            // transform: translate(0, 2em);
        }
    }


    h3 {
        padding: .5em;
        font-size: 1.4em;
        text-align: left;
        color: $primaryFontColor;
    }

    p {
        padding: .5em;
        font-size: $secondaryFont;
        color: $secondaryFontColor;
        text-align: left;
    }

    .bottleDetails {
        h2 {
            padding: .5em;
            font-size: 1.5em;
            font-weight: bold;
            color: $primaryFontColor;
            text-align: center;
            margin: .5em 0 0 0;
        }

        img {
            // padding: .5em;
            margin-top: 2em;
        }

    }
}


// Media Queries 
@media screen and (min-width: 380px) {
    .bottleInfo {
        .bottleDetails {
            h2 {
                font-size: 2em;
            }
        }

        .bottleText {
            h3 {
                font-size: 1.8em;
            }
        }
    }
}

@media screen and (min-width: 620px) {
    .bottleInfo {

        .bottle {
            img {
                width: 60%;
            }
         

        }
    }
}


@media screen and (min-width: 720px) {
    .bottleInfo {
        .bottleText {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

           .bottleTextCon {
               margin-left: 1em;
               margin-right: 1em;
               width: 80%;
            h3 {
                font-size: 1em;
            }

            p {
                font-size: .8em;
            }
           }
        }
    }

}