.content {
    max-width: 720px;
    width: 100%;
    padding: 2.5em .5em .5em .5em; // trbl

    .contentProduct {
            // max-width: 840px;
            display: flex;
            width: 100%;
            flex-direction: row;

             .product {
                 width: 100%;
                padding: .5em;
                // transform: translate(0, -3em);

                img {
                    width: 60%;
                    transform: translate(-2em, -6.25em);
                }
            }

            

            .productInfo {
                transform: translate(-2em, -2em);
                text-align: left;
                display: flex;
                flex-direction: column;
                padding: .5em;
                // margin: 2em 0 1em 0; // top, right, bottom, left

                h3 {
                    font-size: 1.5em;
                    padding: .5em;
                    color: $primaryFontColor;
                    line-height: 1.2;
                }

                p {
                    font-size: 1.2em;
                    padding: .5em;
                    color: $secondaryFontColor;
                    line-height: 1.2;
                    margin-bottom: 2em;
                }

                .productBtn {
                    transform: translate(.5em, -1em);
                    width: 40%;
                    font-size: 1em;
                    margin-top: 2em;
                }
            }
        }

        .icons {
            transform: translate(0, -2em);

           max-width: 580px;
           width: 100%;

        //    padding: .5em;
           display: flex;
           flex-direction: row;
           flex-wrap: wrap;
           justify-content: center;
           margin-bottom: 1em;

           .iconInfo {
               display: flex;
               flex-direction: column;
               margin: 0 1em 0 1em;
               justify-content: space-evenly;
               align-items: center;
              
              
               h4 {
                   color: #3c3c3c;
                   margin-top: 1em;
                   margin-bottom: 1.5em;
               }

               img {
                   width: 50%;
               }


               .natural {
                   margin-top: 1em;
               }

               .naturalText {
                   margin-bottom: 1em;
               }
           }
      }

        .moreInfo {
            width: 100%;

            h3 {
                font-size: $primaryFont;
                color: $primaryFontColor;
                text-align: left;
                padding: .5em;
            }

            p {
                font-size: $secondaryFont;
                color: $secondaryFontColor;
                text-align: left;
                line-height: 1;
                padding: .5em;
            }
        }
    
}

// Media Queries

@media screen and (min-width: 360px) {
    .content {
        .contentProduct {
            .product {
                img {
                    transform: translate(-2em, -7em);
                }
            }

            .productInfo {
                h3 {
                    font-size: 1.75em;
                }

                p {
                    font-size: 1.5em;
                    margin-bottom: 1em;
                }
            }
        }
    }
}

@media screen and (min-width: 410px) {
    .content {
        .contentProduct {
            .product {
                img {
                    transform: translate(-2em, -7.5em);
                }
            }

            .productInfo {
                .productBtn {
                   font-size: 1.25em;
                   width: 50%;
                }
            }
        }
    }
}

@media screen and (min-width: 420px) {
    .content {
        .icons {
            .iconInfo {
                margin: 0 2em 0 2em;
                img {
                    width: 80%;
                }
            }
        }
    }
}


@media screen and (min-width: 440px) {
    .content {
        .contentProduct {
            .productInfo {
                margin-right: .2em;
                h3 {
                    font-size: 2.5em;
                    text-align: left;
                }
    
                p {
                    font-size: 1.5em;
                    line-height: 1;
                    text-align: left;
                }

                .productBtn {
                    transform: translate(2em, -1em);
                }
            }
        }
    }
}

@media screen and (min-width: 480px) {
    .content {
        .contentProduct {
            .product {
                img {
                    transform: translate(-2em, -8.5em);
                }
            }

            .productInfo {
                h3 {
                    font-size: 2.5em;
                    text-align: left;
                }
    
                p {
                    font-size: 2em;
                    line-height: 1;
                    text-align: left;
                }
            }
        }
    }
}

@media screen and (min-width: 520px) {
    .content {
        .icons {
            .iconInfo {
                margin: 0 3em 0 3em;
                img {
                    width: 80%;
                }
            }
        }
    }
}

@media screen and (min-width: 580px) {
    .content {

        .contentProduct {

            .product {
                width: 80%;
                max-width: 540px;
                img {
                    // width: 60%;
                    transform: translate(-2em, -8.5em);
                }
                // margin-left: 1em;
            }

            .productInfo {
                h3 {
                    font-size: 3em;
                }

                p {
                    font-size: 2.25em;
                }
            }
        }

        .icons {
            .iconInfo {
                margin: 0 3.5em 0 3.5em;
                img {
                    width: 80%;
                }
            }
        }

        .moreInfo {
            max-width: 500px;
            display: flex;
            // margin-right: 1em;
            margin-top: 2em;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
    }

    
}



@media screen and (min-width: 640px) {
    .content {
        height: auto;
        .contentProduct {
            transform: translate(0, -3em);

            .product {
                width: 100%;
                img {
                    transform: translate(0, -12em);
                }
            }

            .productInfo {
                display: none;
            }

            .contentInfo {
                transform: translate(1em, -3em);
                max-width: 500px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                .contentText {
                    transform: translate(0, -7em);
                }

                
            h3 {
                font-size: 1.75em;
                color: $primaryFontColor;
                text-align: left;
            }

            p {
                font-size: 1.25em;
                color: $secondaryFontColor;
                text-align: left;
                // line-height: 1;
                margin-right: 1em;
            }


            }

        }

        .icons {
            width: 70%;
           transform: translate(10em, -43.5em);
            .iconInfo {
                align-items: center;
                margin: 0 .5em 0 .5em;
                img {
                    width: 40%;
                }

                h4 {
                    font-size: .7em;
                }

                .natural {
                    margin: 0;
                }
            }
        }

        .moreInfo {
            display: none;
        }
    }

}

@media screen and (min-width: 680px) {
    .content {
        .contentProduct {
            .product {
                img {
                    transform: translate(0, -15em);
                }
            }

            .contentInfo {
                h3 {
                    font-size: 2em;
                    margin-bottom: .5em;
                }

                p {
                    font-size: 1.5em;
                }
            }
        }

        .icons {
            transform: translate(11em, -48.5em);
        }
    }
}


@media screen and (min-width: 720px) {
    .content {
        .contentProduct {
            .product {
                // max-width: 480px;
                img {
                    width: 60%;
                    transform: translate(-2em, -21em);
                }
            }

            .contentInfo {
                
                transform: translate(0, -2.5em);
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                h3 {
                    font-size: 2.15em;
                }

                p {
                    font-size: 1.65em;
                    padding: 0.5em;
                    // margin-bottom: 1em;
                }

                .contextTextOne {
                    transform: translate(0, -6em);
                }

                .contentText {
                    transform: translate(0, -12em);
                }

               
            }
        }

        .icons {
            padding-top: .5em;
            transform: translate(12em, -61em);

            .nano {
                transform: translate(0, .3em);
            }

            .bio {
                transform: translate(0, .3em);
            }
        }
    }
}


@media screen and (min-width: 840px) {
    .content {
        max-width: 640px;
        .contentProduct {
            .product {
                img {
                    width: 60%;
                    transform: translate(4em, -16em);
                }
            }

            .contentInfo {
                transform: translate(6em, -.5em);

                h3 {
                    font-size: 1.75em;
                    margin-bottom: 0;
                }

                p {
                    font-size: 1.25em;
                }

                .contentText {
                    transform: translate(0, -10em);
                }
            }
        }

        .icons {
            transform: translate(16em, -44.5em);
        }
    }
}

@media screen and (min-width: 960px) {
    .content {
        .contentProduct{
            .product {
                img {
                    transform: translate(6em, -18em);
                }
            }
            .contentInfo {
                transform: translate(8em, -3em);
            }
        }

        

        
        .icons {
            transform: translate(18em, -46.5em);
        }
    }

}

@media screen and (min-width: 1040px) {
    .content {
        .contentProduct{
            .product {
                img {
                    transform: translate(8em, -18em);
                }
            }
            .contentInfo {
                max-width: 720px;
                transform: translate(12em, -3em);
            }
        }

        
        .icons {
            transform: translate(22em, -46.5em);
        }
    }
} 