.contact {
    background-color: #e6f5f4;
    width: 100%;
    padding: .5em;
    display: flex;
    flex-direction: column;
    align-content: center;

    .contactInfo {
        width: 100%;
        max-width: 480px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 1em 0 1em 0; 
        align-items: center;
        align-self: center;

        h2 {
            font-size: $primaryFont;
            padding: .5em;
            color: $primaryFontColor;
            text-align: left;
            // margin-bottom: 1em;
        }

        h4 {
            font-size: 1.5em;
            color: $secondaryFontColor;
            padding: .5em;
            text-align: left;
            margin-bottom: 1em;
        }

        .contactBtn {
            width: 40%;
            margin-bottom: 1em;
        }

        
    }
}

// media queries 
@media screen and (min-width: 420px) {
    .contact {
        .contactInfo {
            margin-left: .5em;
        }
    }
}

@media screen and (min-width: 580px) {
    .contact {
        .contactInfo {
            // margin-left: 3em;
            h2 {
                text-align: left;
            }

            h4 {
                text-align: left;
            }
        }
    }
}

@media screen and (min-width: 720px) {
    .contact {
        .contactInfo {
            h2 {
                font-size: 1.75em;
            }

            h4 {
                font-size: 1.25em;
            }
        }
    }
}
