.mainFooter {
    width: 100%;
    background-color: #82cec9;
    padding: .5em;


    p {
        font-size: 1em;
        text-align: center;
        padding: .5em;
        color: #fff;
    }
}

// media queries 
@media screen and (min-width: 640px) {
    .mainFooter {
        p {
            font-size: 1.5em;
            padding: 1em;
        }
    }
}

@media screen and (min-width: 840px) {
    .mainFooter {
        border-top: 1.5px dotted rgb(255, 255, 255);

        p {
            font-size: 2em;
            padding: 2em;
        }
    }
}


