.header {
    color: #fff;
    width: 100%;
    background-color: $primaryColour;

    img {
        width: 100%;
    }

    h2 {
        padding: .5em;
        font-size: 2.75em;
    }

    p {
        font-size: .9em;
        padding: .5em;
    }
}