.hero {
    .heroImage {
        background-color: #d9f3f3;
        width: 100%;

        img {
            width: 100%;
        }
    }
}

@media screen and (min-width: 640px) {
    .hero {
        .heroImage {
            display: flex;
            flex-direction: row-reverse;
            img {
                width: 60%;
            }
        }

        .heroInfo {
            max-width: 200px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            transform: translate(5em, -15em);
            text-align: left;

            h3 {
                font-size: 1.5em;
                padding: .5em;
                color: $primaryFontColor;
                line-height: 1;
            }

            p {
                font-size: 1em;
                // padding: .5em;
                color: $secondaryFontColor;
                line-height: 1;
            }
        }
    }
}

@media screen and (min-width: 680px) {
    .hero {
        .heroInfo {
            transform: translate(7.5em, -15em);
        }
    }
} 

@media screen and (min-width: 720px) {
    .hero {
        .heroInfo {
            transform: translate(10em, -16em);
            h3 {
                font-size: 1.5em;
                line-height: 1;
                text-align: left;
            }

            p {
                font-size: 1em;
                padding: 0;
                text-align: left;
            }
        }
    }
}

@media screen and (min-width: 840px) {
    .hero {
        .heroInfo {
            transform: translate(8em, -20em);
            h3 {
                font-size: 1.75em;
            }

            p {
                font-size: 1em;
            }
        }
    }
}

@media screen and (min-width: 960px) {
    .hero {
        .heroInfo {
            transform: translate(10em, -22em);
       
        }
    }
}