.visibleResults {
    background-color: #fef9f7;
    width: 100%;
    padding: .5em;
    // margin: .5em;

    .text {
        padding: .5em;
        margin: 0 0 2em 0; // top, right, bottom,left
        h2 {
            padding: .5em;
            font-size: $primaryFont;
            color: $primaryFontColor;
            line-height: 1;
            text-align: left;
            margin: .5em 0 .5em 0; // trbl
        }

        article {
        padding: .5em;
        font-size: $secondaryFont;
        color: $secondaryFontColor;
        line-height: 1.2;
        text-align: left;
        }
    }

    .pictures {
        max-width: 400px;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .before {
           width: 100%;

           img {
            width: 95%;
            margin-right: 1em;
        }

        }

        .after {
            width: 100%;
 
            img {
             width: 95%;
             margin-right: 1em;
         }
         
         }

        h3 {
            font-size: 1.5em;
            padding: .5em;
            text-align: center;
            color: $primaryFontColor;
        }

      

        
    }
}