.skinCare {
    width: 100%;
    // padding: .5em;

    img {
        width: 100%;
    }

    h2 {
        font-size: 1.5em;
        color: $primaryFontColor;
        padding: .5em;
        text-align: center;
        margin-top: 1em;
    }

    .skinCon {
        width: 100%;

        .phases {
            display: inline-flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            margin: 2em 0 2em 0; // top, right, bottom, left

            h3 {
                font-size: 1.5em;
                color: $primaryFontColor;
                padding: .5em;
                margin: 1em 0 0 0; // trbl
                text-align: left;
            }

            p {
                font-size: $secondaryFont;
                color: $secondaryFontColor;
                padding: .5em;
                margin: 1em 1em;
                text-align: left;
            }

            .phaseLink {
                margin: 1em 0 .5em .5em; // trbl
                width: 40% !important;
            }
        }
    }
}

.skinCareInfo {
    width: 100%;
    padding: .5em;
    margin: 2em 0 0 0;

    h2 {
        font-size: $primaryFont;
        color: $primaryFontColor;
        text-align: left;
        padding: .5em;
    }

    h3 {
        font-size: 1.5em;
        color: $primaryFontColor;
        text-align: left;
        padding: .5em;
        margin: .25em 0 .25em 0;
    }

    ul {
        font-size: $secondaryFont;
        color: $secondaryFontColor;
        line-height: 1;
        list-style-type: disc;
        text-align: left;
        padding: .5em;
        margin-left: .3em;
    }

    .listCon {
        padding: .5em;
       
    }
}

// Media Queries 
@media screen and (min-width: 410px) {
  .skinCareInfo {
      ul {
          margin-left: .5em;
      }
      li {
          padding-left: .5em;
      }
  }

  .skinCare {
      margin-top: 2em;
      .skinCon {
          .phases {
              margin: 3em 0;
              h3 {
                  font-size: 2em;
              }
          }
      }
  }
}