.skinCare {
    max-width: 1080px;
    width: 100%;
    // padding: .5em;

    img {
        width: 100%;
        box-shadow: 0.05em 0.05em .05em rgba(71, 71, 71, 0.25),
                    0.05em 0.05em 0.25em rgba(71, 71, 71, 0.15);
    }

    h2 {
        font-size: 1.5em;
        color: $primaryFontColor;
        padding: .5em;
        text-align: center;
        margin-top: 1em;
    }

    .skinCon {
        width: 100%;

        .phases {
            max-width: 640px;
            display: inline-flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            margin: 2em 0 2em 0; // top, right, bottom, left

            h3 {
                font-size: 1.5em;
                color: $primaryFontColor;
                padding: .5em;
                margin: 1em 0 0 0; // trbl
                text-align: left;
            }

            p {
                font-size: $secondaryFont;
                color: $secondaryFontColor;
                padding: .5em;
                margin: 1em 1em;
                text-align: left;
            }

            .phaseLink {
                margin: 1em 0 .5em .5em; // trbl
                width: 40% !important;
            }
        }
    }
}

.skinCareInfo {
    max-width: 1020px;
    width: 100%;
    padding: .5em;
    margin: 2em 0 0 0;

    h2 {
        font-size: $primaryFont;
        color: $primaryFontColor;
        text-align: left;
        padding: .5em;
    }

    h3 {
        font-size: 1.5em;
        color: $primaryFontColor;
        text-align: left;
        padding: .5em;
        margin: .25em 0 .25em 0;
    }

    ul {
        font-size: $secondaryFont;
        color: $secondaryFontColor;
        line-height: 1;
        list-style-type: disc;
        text-align: left;
        padding: .5em;
        margin-left: .3em;
    }

    .listCon {
        padding: .5em;
       
    }
}

// Media Queries 
@media screen and (min-width: 410px) {
  .skinCareInfo {
      ul {
          margin-left: .5em;
      }
      li {
          padding-left: .5em;
      }
  }

  .skinCare {
      margin-top: 2em;
      .skinCon {
          .phases {
              margin: 3em 0;
              h3 {
                  font-size: 2em;
              }
          }
      }
  }
}

@media screen and (min-width: 440px) {
    .skinCare {
        h2 {
            font-size: 2em;
        }
    }
}

@media screen and (min-width: 580px) {
    .skinCare {
        .skinCon {
            .phases {
                h3 {
                    font-size: 2.5em;
                }

                p {
                    line-height: 1.2;
                    font-size: 2em;
                }
            }
        }
    }
}

@media screen and (min-width: 640px) {
    .skinCare {
        h2 {
            font-size: 3em;
            transform: translate(0, -2.5em);
            margin: 0;
            padding: 0;
        }

        .skinCon {
            transform: translate(0, -2em);
        }
    }

    .skinCareInfo {
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
        .listCon {
           margin-left: 1em;
           transform: translate(0, -1em);

        }
    }
}

@media screen and (min-width: 720px) {
    .skinCare {
        h2 {
            transform: translate(0, -4em);
        }
        transform: translate(0, -4em);
        .skinCon {
            transform: translate(0, -6em);
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            .phases {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                padding: 1em;
                // width: 100%;
                max-width: 320px;
                

                h3 {
                    font-size: 1em;
                    margin: 1em 1em;
                    padding: .5em;
                }

                p {
                    font-size: .8em;
                    margin: .5em .5em ;
                    padding: .5em;
                }

                .phaseLink {
                    width: 30%;
                    padding: .5em;
                    margin: 1em 1em;
                    align-self: flex-start;
                    font-size: 1em;
                }

            }

            .solid {
                border-left: 1px dotted rgb(167, 162, 162);
            }

            
        }
    }

    .skinCareInfo {
        // width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        // max-width: 540px;
        // margin-left: 3em;
        transform: translate(0, -4em);
        align-items: baseline;

        .listCon {
            width: 100%;
            margin: 0;
            padding: 1em;

            h2 {
                font-size: 1.5em;
            }

            ul {
                font-size: 1em;
            }
        }

    }
}