.videoArea {
    padding: .5em;
    width: 100%;
    background-color: #ecf6fe;

    h2 {
        font-size: $primaryFont;
        color: $primaryFontColor;
        text-align: center;
        padding: .5em;
        line-height: 1.5;
    }
}